body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Adjust as needed */
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto; /* Makes the container scrollable */
}

.result-item {
    margin: 10px;
    text-align: center;
}

.result-item img {
    max-width: 200px;
    border-radius: 8px;
}

#loader {
    font-size: 1.5em;
    color: #333;
}

#cameraContainer {
    margin-top: 20px;
}

#camera {
    display: block;
    margin: 0 auto;
}

#photoCanvas {
    display: none;
}
